* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.codes {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
}

.wrapper {
  height: 100px;
  text-align: center;
  width: 200px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 2px 2px lightgrey;
  border-radius: 5px;
}

.key {
  font-size: 5rem;
}

.charCode {
  font-size: 3rem;
}
