* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: rgb(140, 135, 163);
  background: radial-gradient(
    circle,
    rgba(140, 135, 163, 0.4) 7%,
    rgba(235, 191, 153, 0.5) 24%,
    rgba(156, 246, 229, 0.4) 40%,
    rgba(255, 255, 255, 1) 79%
  );
}

.codes {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
}

.wrapper {
  height: 100px;
  text-align: center;
  width: 200px;
  padding: 0.7rem;
  border: 1px solid lightgrey;
  background-color: #f2eef7;
  box-shadow: 0 0 7px 1px #c7b9ce;
  border-radius: 5px;
  opacity: 0;
}

.wrapper.visible {
  opacity: 1;
  transform: all 5s; /* not working */
}

.key {
  font-size: 5rem;
}

.charCode {
  font-size: 3rem;
}
